@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
main .bg-white{
    padding: 30px;
}

.btn-primary{
    background-color: #613394 !important;
}

.hover\:bg-gray-700:hover , .bg-gray-800{
    background-color: #613394 !important;
}
